In [1]:
end=int(input("請輸入一個整數："))
i=1
while i<=end:
    print(i)
    i+=1

請輸入一個整數：5
1
2
3
4
5

In [3]:
begin=int(input("請輸入一個整數: "))
end=int(input("再輸入一個整數: "))
i=begin
while i<=end:
    print(i)
    i+=1

請輸入一個整數: 5
再輸入一個整數: 50
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [8]:
i=1
while i<=20:
    print(i,end=" ")
    i=i+1
else:
    print()

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [17]:
def dividingLine(char="@",num=20):
    result=char*num
    #print(char*rum)
    return result,"123",123

In [20]:
val="*"
val2=50
response=dividingLine(num=val2)

response

In [21]:
def func(*a,**b):
    print(a,b)

In [22]:
func(1,2,3,key1="a",key2="b")

(1, 2, 3) {'key1': 'a', 'key2': 'b'}

In [26]:
def scope():
    global value1
    value1=1
    print(value1, value2)

#變數的有效範圍

In [27]:
value1 = 10
value2 = 20

scope()
print(value1, value2)

1 20
1 20

In [28]:
a=7

In [29]:
id(a)

4537624816

In [30]:
a+=2

In [31]:
id(a)

4537624880

In [32]:
a="abc"

In [33]:
id(a)

4539452864

In [34]:
a=9.4

In [35]:
id(a)

4599743352

In [36]:
a=not a

In [37]:
a

False

In [38]:
a=[123,321]

In [39]:
a.append(456)

In [40]:
a

[123, 321, 456]

In [41]:
T5=(1,2,[3],["a"],["b"])

In [42]:
b=7

In [43]:
b

7

In [44]:
del b

In [45]:
b

NameError: name 'b' is not defined

In [46]:
TT = (1,2,3)

In [47]:
TT

(1, 2, 3)

In [53]:
LL=[1,2,3]

In [54]:
LL

[1, 2, 3]

In [55]:
del LL[1]

In [56]:
LL

[1, 3]

In [65]:
anything = set("123")
if anything:
    print("It's something.")
else:
    print("It's nothing.")

It's something.

In [71]:
def func1():
    return 123

In [73]:
print(func1())

123

In [74]:
TT = (1,2,3)
1 in TT

True

In [75]:
2 not in TT

False

In [76]:
for each in '0123':
    print(each)

0
1
2
3

In [95]:
for each in (0,1,2,3,9,2,1):
    print(each)

0
1
2
3
9
2
1

In [123]:
D1={0:'a', 1:'b', 2:'c',3:'d'}
    for each in D1.value():
    print(each)

IndentationError: unexpected indent (<ipython-input-123-1a03d83fdf6f>, line 2)

In [93]:
list(range(10,-1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [94]:
list(range(-10,-1,2))

[-10, -8, -6, -4, -2]

In [102]:
for each in range(10):
    if each%2==1: 
        continue
    print(each)

0
2
4
6
8

In [108]:
def dividingLine(char,num):
    print(char*num)

In [112]:
dividingLine("@",1000)

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

In [114]:
def Max(a,b):
    if a>b:
        return a
    else:
        return b

In [115]:
Max(5,7)

7

In [116]:
Max(1234.466,5839.34)

5839.34

In [122]:
def scpoe():
    value1=1 
    print(value,value)

In [118]:
scope

In [119]:
scope()

1 20

In [120]:
value1=10
value2=20
scope()
print(value1,value2)

1 20
1 20

In [126]:
T2=(10,1e3,'tuple',True)

In [127]:
T2

(10, 1000.0, 'tuple', True)

In [128]:
T2[3]

True

In [129]:
T2[0]

10

In [130]:
T3=(0,(1,3),(2,4))

In [131]:
T3[-1][1]

4

In [132]:
T3[1][1]

3

In [133]:
T3.index((1,3))

1

In [134]:
len(T3)

3

In [135]:
T3.count((2,4))

1

In [136]:
L3=[1,2,3]

In [137]:
L3

[1, 2, 3]

In [138]:
L3.remove(2)

In [139]:
L3

[1, 3]

In [140]:
L3.clear()

In [141]:
L3

[]

In [142]:
L2=[1,2,3]

In [143]:
L2.append([8,9])

In [144]:
L2

[1, 2, 3, [8, 9]]

In [145]:
L2.insert(2,8)

In [146]:
L2

[1, 2, 8, 3, [8, 9]]

In [147]:
S2=set([5,2,1,1])

In [148]:
S3={1,3,5}

In [149]:
S2&S3

{1, 5}

In [150]:
S2|S3

{1, 2, 3, 5}

In [151]:
S2-S3

{2}

In [152]:
S2^S3

{2, 3}

In [154]:
S4={5}

In [157]:
S4<=S3

True

In [158]:
S2<=S3

False

In [160]:
D2=dict((["a",100],["b",300],["c",500]))

In [161]:
D2.keys()

dict_keys(['a', 'b', 'c'])

In [167]:
list(D2.keys())

['a', 'b', 'c']

In [169]:
list(D2.values())

[100, 300, 500]

In [170]:
D2["e"]=1000

In [171]:
D2

{'a': 100, 'b': 300, 'c': 500, 'e': 1000}

In [173]:
D2["a"]

100

In [175]:
len(D2)

4

In [176]:
cookies=int(input(""))
chocos=int(input(""))
cakes=int(input(""))

chocos2=chocos+1*(cookies//10) if cookies>=10 else chocos
cakes2=cakes+1*(chocos2//5) if chocos2>=5 else cakes

print("Cookies\tChocos\tcakes\t") 
#\t是一個在後面留一個tab間的距離

print(cookies, "\t",chocos2, "\t",cakes2,"\t") #\t是一個在後面留一個tab間的距離

35
22
1
Cookies	Chocos	cakes
35 	 25 	 6

In [177]:
fmt="金融卡密碼:%016d"
number=int(input("請輸入金融卡號碼："))
s=fmt%number
print(s)

請輸入金融卡號碼：890347237
金融卡密碼:0000000890347237

＃for迴圈練習

In [179]:
s=input("請輸入一個字符串：")
count=0 #此變量用來記錄空格的個數
for blank in s: #如果ch綁定空格，則將count做加一操作
    if blank ==" ":
        count+=1
print("空格的個數是：",count)

請輸入一個字符串：jir kor jif jfoe jife
空格的個數是： 4

In [ ]:
mathStr=input()
engStr=input()

mathLst=mathStr.split(",")
engLst=engStr.split(",")

mathSet=set(mathLst)
engSet=set(engLst)

p1Lst=list(mathSet-engSet)
p2Lst=list(engSet-mathSet)

p3Lst=list(mathSet&engSet)
p4Lst=list(mathSet|engSet)

p1Lst.sort()
p2Lst.sort()
p3Lst.sort()
p4Lst.sort()

print(",".join(p1Lst))
print(",".join(p2Lst))
print(",".join(p3Lst))
print(",".join(p4Lst))

In [ ]:
mathStr=input()
engStr=input()

mathLst=mathStr.split(",")
engLst=engStr.split(",")

mathSet=set(mathLst)
engSet=set(engLst)
p1Lst=list(mathSet-engSet)
p1Lst.sort()
print(",".join(p1Lst))

In [ ]:
n=int(input())

In [ ]:
cateDict={}
cateLst=[]
for i in range(n):
    rowLst=input().split(",") #切割也可split()